body {
    /* text-align: center; */
    background-color: lightblue;
    color: black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
}

p h1 {
    font-weight: 12px;
}

#texto_Linea {
    background-color: white;
    color: black;
}